.login_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginbutton {
  background-color: rgb(98, 255, 98);
}

.loginerror {
  background-color: red;
}

.warningOn {
  display: block;
  color: red;
}

.warningOff {
  display: none;
}
