ul {
  /* POSITION FIXED FOR THE NAVBAR WILL MAKE ELEMENTS HIDE BEHIND IT */
  /* position: fixed; */

  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  width: 100%;

  list-style-type: none;
  z-index: 1;
  box-shadow: 0px 1px 20px rgb(177, 177, 177);
  background-color: rgb(230, 230, 230);

  display: flex;
  align-items: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(0, 181, 253);
}
